{% import '_macros.twig' as macros %}

<header role="banner" class="header header-opacity">
  <nav class="menu">
    <ul>
      <li><a href="#Accueil">Accueil</a></li>
      <li><a href="#Apropos">À propos</a></li>
      <li><a href="#Contact">Contact</a></li>
    </ul>
  </nav>

</header>



