<div class="c-banner-messages banner-cookies-consent as--hidden" data-banner-options='{
  "bannerName": "CookiesConsent"
}'>
  <p>En poursuivant votre navigation sans modifier vos paramètres,
    vous acceptez l'utilisation des cookies ou technologies similaires pour disposer de services et d'offres
    adaptés à vos centres d'intérêts ainsi que pour la sécurisation des transactions sur notre site. <a href="#_" target="_blank">En savoir plus</a></p>
  <button type="button" class="a-button as--accept js-banner-btn-accept">J'ai compris</button>
  <button type="button" class="a-button as--close js-banner-btn-close" aria-label="Fermer">&times;</button>
</div>
