<div class="c-banner-messages as--hidden" data-banner-options='{
  "bannerName": "Message01",{# must change bannerName for each new banner #}
  "caping": 3
}'>
  <h2 class="main-title-2">/!\ Information /!\</h2>
  <p>Ceci est un message d'information qui disparaitra au bout de 3 chargement de page</p>
  <a href="#_" class="a-button">en savoir plus</a>
  <button type="button" class="a-button as--close js-banner-btn-accept" aria-label="Fermer">&times;</button>
</div>
