.block-partners{
  display: grid;
  grid-template-columns: 27rem auto;
  justify-content: flex-start;
  overflow: hidden;
  .arrows-resp{
    display: none;
  }
  .arrows-desktop{
    display: flex;
    margin-top: 3.5rem;
    .slick-prev{
      margin-right: 1.5rem;
    }
  }
  .slick-arrow{
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      width: 5.5rem;
      height: 5.5rem;
    }
  }
  .title{
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    h2{
      font-size: 3.5rem;
      color: $color-text-1;
    }
  }
  .slider-partners{
    .slick-slide{
      margin-right: 3rem;
    }
    .img{
      width: 35rem;
      height: 30rem;
      box-shadow: inset 2px 2px 26px 5px rgba(0,0,0,0.16);
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 20rem;
        height: auto;
      }
    }
  }

  @media only screen and (max-width: $mq-5) {
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    max-width: 33.5rem;
    margin: auto;
    text-align: center;
    .arrows-desktop{
      display: none;
    }
    .arrows-resp{
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      .slick-prev{
        margin-right: 1.5rem;
      }
    }
    .title{
      margin-right: 0;
      margin-bottom: 4rem;
    }
    .slider-partners {
      .slick-slide {
        margin-right: 0;
      }
      .img {
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: $mq-4) {
    margin-bottom: 12rem;
  }

}














