.full-img-blue{
  min-height: 48.5rem;
  position: relative;
  margin-bottom: 15rem;
  &:after{
    content: "";
    width: 93rem;
    height: 72rem;
    z-index: 2;
    position: absolute;
    bottom: -28rem;
    left: 0;
    background: url('../img/upload/conteneur.png') no-repeat;
    background-size: contain;
  }
  .img{
    max-width: 1396px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text{
    background-color: RGBA(20,134,201,0.6);
    padding: 8rem 9rem 11rem 22rem;
    max-width: 91rem;
    margin-left: calc(((100vw - 439px)/ 2));
    position: relative;
    height: 100%;
    min-height: 48.5rem;
    &.editor-wysiwyg{
      h2,h3,li,a,span,p{
        color: white;
      }
    }
    p{
      font-weight: 500;
    }
  }

  @media only screen and (max-width: 1650px) {
    &:after{
      left: -11rem;
      width: 73rem;
      height: 52rem;
    }
  }

  @media only screen and (max-width: $mq-5) {
    margin-bottom: 0;
    &:after {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      bottom: auto;
      top: -12px;
    }
    .text {
      background: linear-gradient(180deg, rgba(55,140,204,1) 0%, rgba(60,94,169,1) 100%);
      margin-left: 0;
      min-height: auto;
      padding: 9rem 4rem;
      max-width: 100%;
    }
    .img {
      position: relative;
      height: 32rem;
    }
  }

  @media only screen and (max-width: $mq-3) {
    &:after {
      left: -4rem;
      width: 38rem;
      top: 13rem;
    }
  }

}










