.full-block-home{
  background: url('../img/common/bg/bg-img-full.png') no-repeat;
  background-position: 50% 50%;
  background-size: 100% 900px;
  min-height: 101.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30rem;
  margin-bottom: 19rem;

  .slider-products img{
    max-width: 75rem;
  }
  .title-home{
    margin-top: -13rem;
    margin-bottom: 16rem;
  }
  .editor-wysiwyg{
    h2,h3,li,a,span,p{
      color: white;
    }
  }
  .flex-columns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
      h2{
        font-size: 6rem;
        text-transform: uppercase;
      }
    }
  }
  .arrows{
    margin-top: 7rem;
    margin-bottom: 6.5rem;
    display: flex;
    justify-content: space-between;
    .slick-arrow{
      display: flex;
      cursor: pointer;
    }
    p{
      font-size: 2.1rem;
    }
    .arrow-prev p{
      color: white;
    }
    .arrow-next p{
      color: $color-text-1;
    }
  }
}