{% import '_macros.twig' as macros %}


<li class="accordion-list">
  <div class="accordion-title">{{ module.title }}</div>
  <div class="accordion-content editor-wysiwyg">
    {{ module.content }}
  </div>
</li>
