{% import '_macros.twig' as macros %}


<div class="block-citation inner-wrap">
    <h2 class="js-item-inview opacity-transition">{{ module.titre_citation }}</h2>
    <p class="citation js-item-inview opacity-transition">
        {{ module.module_quote }}
    </p>
</div>
