{% import '_macros.twig' as macros %}

<div class="img-columns inner-wrap">
    <div class="img js-item-inview opacity-transition">
        <picture>
            <img src="../assets/img/upload/exemple.png" alt="">
        </picture>
    </div>
    <div class="text js-item-inview opacity-transition has-delay">
        <p class="theme">Simulation thème</p>
        <h3 class="a-title-2">Titre bien relou sur deux lignes de son père</h3>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
            aut consectetur consequatur culpa cumque cupiditate dolorem earum e
            t explicabo ipsam labore minus omnis possimus sapiente sed tempora tempore temporibus voluptates.
        </p>
        <a href="#" class="a-button as--grey-4"><span>En savoir plus</span></a>
    </div>
</div>