{% import '_macros.twig' as macros %}


<div class="block-citation inner-wrap">
    <h2 class="js-item-inview opacity-transition">Module citation</h2>
    <p class="citation js-item-inview opacity-transition">
        Pour savoir si y a du vent, il faut mettre son doigt dans le cul du coq.
    </p>
</div>
