{% extends '../layout/styleguide.twig' %}

{% block sgContent %}

  <div id="sg-grid" class="sg-section">
    <div class="sg-h1">Grid system</div>

    <div class="sg-callout sg-callout-info">
      <div class="sg-callout-title">Gridlex 2.0</div>
      <p>We use the <strong>flex</strong> grid system Gridlex 2.0 as grid system.
        <a href="https://github.com/devlint/gridlex">See documentation</a>
        or
        <a href="http://devlint.github.io/gridlex/">demo</a>
        for details.
      </p>
    </div>

    <div data-xrayhtml>
      <div class="grid">
        <div class="col-12">
          <div class="sg-cell">
            <p>col-12</p>
          </div>
        </div>
        <div class="col-11_mq4-10_mq2-8">
          <div class="sg-cell">
            <p>col-11</p>
          </div>
        </div>
        <div class="col-1_mq4-2_mq2-4">
          <div class="sg-cell">
            <p>col-1</p>
          </div>
        </div>
        <div class="col-10_mq2-7">
          <div class="sg-cell">
            <p>col-10</p>
          </div>
        </div>
        <div class="col-2_mq2-5">
          <div class="sg-cell">
            <p>col-2</p>
          </div>
        </div>
        <div class="col-9">
          <div class="sg-cell">
            <p>col-9</p>
          </div>
        </div>
        <div class="col-3">
          <div class="sg-cell">
            <p>col-3</p>
          </div>
        </div>
        <div class="col-8">
          <div class="sg-cell">
            <p>col-8</p>
          </div>
        </div>
        <div class="col-4">
          <div class="sg-cell">
            <p>col-4</p>
          </div>
        </div>
        <div class="col-7">
          <div class="sg-cell">
            <p>col-7</p>
          </div>
        </div>
        <div class="col-5">
          <div class="sg-cell">
            <p>col-5</p>
          </div>
        </div>
        <div class="col-6">
          <div class="sg-cell">
            <p>col-6</p>
          </div>
        </div>
        <div class="col-6">
          <div class="sg-cell">
            <p>col-6</p>
          </div>
        </div>
        <div class="col-5">
          <div class="sg-cell">
            <p>col-5</p>
          </div>
        </div>
        <div class="col-7">
          <div class="sg-cell">
            <p>col-7</p>
          </div>
        </div>
        <div class="col-4">
          <div class="sg-cell">
            <p>col-4</p>
          </div>
        </div>
        <div class="col-8">
          <div class="sg-cell">
            <p>col-8</p>
          </div>
        </div>
        <div class="col-3">
          <div class="sg-cell">
            <p>col-3</p>
          </div>
        </div>
        <div class="col-9">
          <div class="sg-cell">
            <p>col-9</p>
          </div>
        </div>
        <div class="col-2_mq2-5">
          <div class="sg-cell">
            <p>col-2</p>
          </div>
        </div>
        <div class="col-10_mq2-7">
          <div class="sg-cell">
            <p>col-10</p>
          </div>
        </div>
        <div class="col-1_mq4-2_mq2-4">
          <div class="sg-cell">
            <p>col-1</p>
          </div>
        </div>
        <div class="col-11_mq4-10_mq2-8">
          <div class="sg-cell">
            <p>col-11</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  {# /.sg-section  #}
{% endblock sgContent %}
