{% extends '../layout/styleguide.twig' %}

{% block sgContent %}
  <div class="sg-section">
    <div class="sg-h2">Digital Styleguide</div>

    <div class="sg-desc" style="font-size: 1.6rem;line-height: 2.5rem">
      <p>The following Digital Styleguide regards the redesign of the website <strong><em>{{ projectRealName }}</em></strong> designed and produced by <strong>acti</strong>.<br> It aims to define the design principles used and the "User
        Interface" workflow for designers and developpers for future graphic declinations and the technical production of the website.</p>
    </div>
    <br/>
    <div class="sg-h3">A Maintainable Style Guide as a foundation stone</div>
    <div class="sg-desc" style="font-size: 1.6rem;line-height: 2.5rem">
      <p> At acti we think that maintaining a UI Style Guide all over the process and to make it an integral part of our development workflow is important for delivering a solid and consistent product.</p>
      <p>The document gives and follows the good code-engineering practices used in the project to guarantee a consistent code throughout the project <!--and--> allowing easy maintenance of the website over time.</p>
    </div>

  </div>
  {# /.sg-section  #}
{% endblock sgContent %}
