<aside>
    <div class="column-sticky">
        <div class="devis">
            <a href="#">
                {{ macros.svg('doc','30','white') }}
                <p>Demande de devis</p>
            </a>
        </div>
        <div class="contact">
            <a href="#">
                {{ macros.svg('mail','30','white') }}
                <p>Contactez nous !</p>
            </a>
        </div>
    </div>
</aside>