{%- extends '../layout/pages.twig' -%}
{% set pageTitle = 'Liste Actus' %}
{% set pageTemplate = 'liste-actus' %}
{% set pageClass = 'liste-actus' %}


{%- block mainContent %}

    <div class="sticky-bg bg-left-edito"><div class="bg-img"></div></div>
    <div class="sticky-bg bg-right-edito"><div class="bg-img"></div></div>

    <aside>
        <div class="column-sticky">
            <div class="devis">
                <a href="#">
                    {{ macros.svg('doc','30','white') }}
                    <p>Demande de devis</p>
                </a>
            </div>
            <div class="contact">
                <a href="#">
                    {{ macros.svg('mail','30','white') }}
                    <p>Contactez nous !</p>
                </a>
            </div>
        </div>
    </aside>


    <div class="main-slider">
        <div class="bg-triangle"></div>
        <div class="slider-img">
            <div class="slider-wrap">
                <div class="slide">
                    <a href="#">
                        <div class="img">
                            <picture>
                                <img src="../assets/img/upload/exemple.png" alt="">
                            </picture>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="title-edito inner-wrap">
        <h1>Nos actualités</h1>
        <p class="subtitle">Lorem ipsum dolor sit amet, consetetur sa
            dipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores.
        </p>
    </div>

    <div class="block-liste-actus sub-wrap list-to-show">
        <div class="card actu js-item-inview opacity-transition">
            <div class="img">
                <picture>
                    <img src="../assets/img/upload/exemple.png" alt="">
                </picture>
            </div>
            <div class="text">
                <p class="date">publié le 20/12/1500</p>
                <div class="editor-wysiwyg">
                    <h2>Titre news</h2>
                    {#       rajouter |slice(0, 150) ~ '...' pour tronquer         #}
                    <p>
                        Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.     Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.     Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.     Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.
                    </p>
                </div>
                <a href="#" class="a-button as--grey-4"><span>En savoir plus</span></a>
            </div>
        </div>

        <div class="card actu  js-item-inview opacity-transition">
            <div class="img">
                <picture>
                    <img src="../assets/img/upload/exemple.png" alt="">
                </picture>
            </div>
            <div class="text">
                <p class="date">publié le 20/12/1500</p>
                <div class="editor-wysiwyg">
                    <h2>Titre news</h2>
                    {#       rajouter |slice(0, 150) ~ '...' pour tronquer         #}
                    <p>
                        Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.     Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.     Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.     Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.
                    </p>
                </div>
                <a href="#" class="a-button as--grey-4"><span>En savoir plus</span></a>
            </div>
        </div>

        <div class="card actu  js-item-inview opacity-transition">
            <div class="img">
                <picture>
                    <img src="../assets/img/upload/exemple.png" alt="">
                </picture>
            </div>
            <div class="text">
                <p class="date">publié le 20/12/1500</p>
                <div class="editor-wysiwyg">
                    <h2>Titre news</h2>
                    {#       rajouter |slice(0, 150) ~ '...' pour tronquer         #}
                    <p>
                        Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.     Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.     Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.     Liquam erat volutpat. Nam quam leo, element um vitae pretium et, fe
                        rmentum quis dolor. Morbi nec fermentum nisl, sed mattis dolor.
                    </p>
                </div>
                <a href="#" class="a-button as--grey-4"><span>En savoir plus</span></a>
            </div>
        </div>


        {#    Bouton à prévoir mais normalement pas utilisé    #}
        {#        <a href="#" class="see-more">En voir davantage</a>#}
    </div>


{% endblock mainContent -%}
