<footer role="contentinfo">
    <div id="footer" class="footer">
        <div class="footer-inner inner-wrap">
            <div class="logo">
                <a href="#">
                    <picture>
                        <img src="../assets/img/svg/icon-logo-footer.svg" alt="">
                    </picture>
                </a>
            </div>
            <div class="flex-columns">
                <div class="left editor-wysiwyg as--white">
                    <div class="block-text">
                        <h3>Siège social Frigo Trading</h3>
                        <p>
                            215 rue Georges Charpak - Technoparc <br>
                            01390 CIVRIEUX <br>
                            Tél : 04 74 14 06 84
                        </p>
                    </div>
                    <div class="block-text">
                        <h3>Atelier de transformation</h3>
                        <p>
                            Parc d’activités BELLE FONTAINE<br>
                            57780 ROSSELANGE<br>
                            Tel. : 03 87 33 24 85
                        </p>
                    </div>
                </div>
                <div class="right">
                    <h3>Nos engagements</h3>
                    <div class="columns-pictos">
                        <div class="picto">
                            <div class="img">
                                <picture>
                                    <img src="../assets/img/common/pict/ampoule.png" alt="">
                                </picture>
                            </div>
                            <div class="text">
                                <span>001</span>
                                <p>Innovation</p>
                            </div>
                        </div>
                        <div class="picto">
                            <div class="img">
                                <picture>
                                    <img src="../assets/img/common/pict/ampoule.png" alt="">
                                </picture>
                            </div>
                            <div class="text">
                                <span>001</span>
                                <p>Innovation</p>
                            </div>
                        </div>
                        <div class="picto">
                            <div class="img">
                                <picture>
                                    <img src="../assets/img/common/pict/ampoule.png" alt="">
                                </picture>
                            </div>
                            <div class="text">
                                <span>001</span>
                                <p>Innovation</p>
                            </div>
                        </div>
                        <div class="picto">
                            <div class="img">
                                <picture>
                                    <img src="../assets/img/common/pict/ampoule.png" alt="">
                                </picture>
                            </div>
                            <div class="text">
                                <span>001</span>
                                <p>Innovation</p>
                            </div>
                        </div>
                        <div class="picto">
                            <div class="img">
                                <picture>
                                    <img src="../assets/img/common/pict/ampoule.png" alt="">
                                </picture>
                            </div>
                            <div class="text">
                                <span>001</span>
                                <p>Innovation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="flex-columns">
                    <div class="list-links">
                        <ul>
                            <li><a href="#">Plan du site</a></li>
                            <li><a href="#">Conditions générales de vente</a></li>
                            <li><a href="#">Conditions générales de location</a></li>
                            <li><a href="#">Mentions légales</a></li>
                        </ul>
                        <ul>
                            <li><p>Site hébergé dans un green data center Français</p></li>
                            <li><a href="#">Réalisation acti</a></li>
                        </ul>
                    </div>
                    <div class="links-reseaux">
                        <div class="links-circle">
                            <div class="circle">
                                <a href="#">{{ macros.svg('linkedin-white','white') }}</a>
                            </div>
                            <div class="circle">
                                <a href="#">{{ macros.svg('youtube-white','white') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

