.erreur-404 {
  .main-content {
    padding: 5rem 0rem 5rem 0rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .a-title-1 {
    color: $color-primary;
    text-align: center;
  }
}