.edito{
  .sub-wrap > div{
    margin: 0 auto 13rem auto;
  }
  .columns-text {
    justify-content: space-between;
    .column{
      max-width: 100%;
      padding: 9rem 0rem;
    }
    &.columns-2{
      .column{
        width: 50%;
        &:first-child{
          margin-right: 3rem;
        }
        &:last-child{
          margin-left: 3rem;
        }
      }
    }
  }
  .gravity-theme{
    margin-bottom: 5rem;
  }

  @media only screen and (max-width: $mq-4) {
    .sub-wrap > div {
      margin: 0 auto 3rem auto;
    }
  }
}
