/* ==========================================================================
   PAGE HOME
   ========================================================================== */
.home-page {
  .main-content .bg-triangle{
    height: 84rem;
  }
  .main-slider{
    height: 84rem;
    &:after{
      bottom: 23.2rem;
    }
  }
}
